* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	font-family: 'Ubuntu';
	font-size: 14px;
}

html {}

body {
	padding: 10px;
	background: url("img/brickwall.png");
}

h1 { font-size: 4rem; }
h2 { font-size: 3.5rem; }
h3 { font-size: 3rem; }
h4 { font-size: 2.5rem; }
h5 { font-size: 2rem; }
h6 { font-size: 1.5rem; }

form {}

fieldset {
	padding: 0.5em 0.5em;
	border-radius: 0.5em;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

fieldset legend {
	margin-left: 0.2em;
	padding: 0 0.1em;
}

input.amors-form-control {
	margin-bottom: 0.5rem;
	padding: 0 0.6em 0;
	width: 100%;
	line-height: 2em;
	border-radius: 0.7em;
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0.1em 0.3em 0 rgba(0, 0, 0, 0.2);
}

input.amors-form-control:focus {
	outline: none;
	box-shadow: inset 0 0.1em 0.3em 0 rgba(0, 0, 0, 0.3), 0 0 0.3em 0 rgba(150, 0, 0, 0.2);
}

.amors-container {
	margin: 0 auto;
	width: 1000px;
}

.amors-container-fluid {
	width: 100%;
}

.amors-text-left {
	text-align: left;
}

.amors-text-center {
	text-align: center;
}

.amors-text-right {
	text-align: right;
}

.amors-text-justify {
	text-align: justify;
}

.amors-f-right {
	float: right;
}

.amors-text-muted {
	color: rgb(170, 170, 170);
}

.amors-btn {
	padding: 0.3em 0.75em;
	line-height: 1.5;
	font-size: 1rem;
	color: rgb(0, 120, 200);
	border: 0 solid transparent;
	border-radius: 0.25rem;
	box-shadow: 0 0 2px 0 rgba(50, 100, 150, 0.7), 0 2px 3px 0 rgba(50, 100, 150, 0.7);
	background: linear-gradient(0, rgb(200, 230, 250), rgb(250, 250, 250));
}
	
.amors-btn:hover {
	cursor: pointer;
	color: rgb(0, 150, 240);
}
	
.amors-btn:active {
	outline: none;
	box-shadow: 0 0 1px 0 rgba(50, 100, 150, 0.7), 0 1px 2px 0 rgba(50, 100, 150, 1);
}

.amors-btn:focus {
	outline: none;
}

.amors-btn-unix {
	display: inline-block;
	padding: 0.2em 0.7em;
	font-size: 1rem;
	color: rgb(70, 70, 70);
	border-radius: 0.7em;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: rgb(240, 240, 240);
	box-shadow: inset 0 0.2em 0.3em 0 rgba(255, 255, 255, 1), inset 0 -0.15em 0.3em 0 rgba(0, 0, 0, 0.5);
}

.amors-btn-unix:hover {
	color: rgb(220, 100, 100);
	cursor: pointer;
}

.amors-btn-unix:active {
	background: rgb(235, 235, 235);
	box-shadow: inset 0 0.15em 0.3em 0 rgba(255, 255, 255, 1), inset 0 -0.05em 0.3em 0 rgba(0, 0, 0, 0.5);
}

.amors-btn-unix:focus {
	outline: none;
}

.amors-btn.amors-btn-sm, .amors-btn-unix.amors-btn-sm {
	font-size: 0.8rem;
}

.amors-btn-unix.amors-btn-primary {
	color: rgb(255, 255, 255);
	background: rgb(120, 200, 250);
	box-shadow: inset 0 0.2em 0.3em 0 rgba(255, 255, 255, 1), inset 0 -0.15em 0.3em 0 rgba(0, 0, 100, 0.5);
}

.amors-btn-unix.amors-btn-primary:hover {
	color: rgb(220, 120, 120);
}

button[disabled] {
	background: rgb(200, 220, 250);
}

button[disabled]:hover {
	color: rgb(0, 120, 200);
	cursor: not-allowed;
}

button[disabled].amors-btn-unix {
	color: rgb(120, 120, 120);
	background: rgb(210, 210, 210);
	box-shadow: inset 0 0.15em 0.3em 0 rgba(255, 255, 255, 1), inset 0 -0.05em 0.3em 0 rgba(0, 0, 0, 0.5);
}

.amors-modal {
	opacity: 0;
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	vertical-align: middle;
	background: rgba(0, 0, 0, 0.2);
	transition: opacity 0.1s linear;
}

.amors-modal-dialog {
	display: block;
	position: relative;
	margin: 5rem auto;
	width: 400px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 0.5rem;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
	background: rgb(255, 255, 255);
}

.amors-modal-dialog-header {
	padding: 0.5rem;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	background: rgb(240, 240, 240);
}

.amors-modal-dialog-content {
	padding: 1rem 0.5rem;
}

.amors-modal-dialog-footer {
	padding: 0.5rem;
	text-align: right;
	/*border-top: 1px solid rgba(0, 0, 0, 0.1);*/
}
